.page-container {
  padding: 20px 50px 120px;
  background-color: rgb(255, 255, 255);
}

.parent-container {
  display: flex; 
  justify-content: space-between;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  height: 700px; /* Set the desired height for the grid container */
  width: 100%;
}

.grid-item {
  flex: 1;
  border: 1px solid #ccc; /* Add borders or other styling as needed */
  padding: 15px; /* Adjust the padding as needed */
}

td, th {
  padding: 1px 4px;
}

.top-left{
  height: 632px;
  width: 100%;
  padding: 15px; /* Adjust the padding as needed */
  /*margin-right: 15px;*/
}

span {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 2em;
}

.top-right {
  height: 332px;
  width: 90%;
  padding: 15px; /* Adjust the padding as needed */
  /*margin-right: 15px;*/
}

.bottom-right {
  height: 332px;
  width: 90%;
  border: 1px solid #ffffff; /* Add borders or other styling as needed */
  padding: 15px; /* Adjust the padding as needed */
  /*margin-right: 15px;*/
}

.right-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #ffffff;
  margin-left: 15px; /* Adjust the margin as needed */
}

.country-name {
  padding-left: 10px;
}

.country-container {
  display: flex;
}

#table-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.table-title {
  position: sticky;
  top: 0;
  background-color: white; /* Set the background color you prefer */
  z-index: 1;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.value-cell {
  text-align: right;
}

/* Add a class to style the table header */
.table-header {
  position: sticky;
  top: 0;
  background-color: #f4f4f4; /* Set your preferred background color */
  z-index: 1;
}

/* Style for the table body to enable scrolling */
.table-body {
  max-height: 300px; /* Set your preferred max-height */
  overflow-y: auto;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}


.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
}