.page-container {
  padding: 20px 50px 30px
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap as needed */
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  height: 200px;
  border: 1px solid #ccc; /* Add borders or other styling as needed */
  padding: 25px; /* Adjust the padding as needed */
}

span {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 2em;
}

.country-name {
  padding-left: 10px;
}

.country-container {
  display: flex;
}
