.page-container {
  padding: 20px 50px 120px;
  background-color: rgb(255, 255, 255);
}

.parent-container {
  display: flex; 
  justify-content: space-between;
}

.child-container {
  display: grid;
  width: 100%;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap as needed */
}

.top-left,
.bottom-left {
  height: 200px;
  width: 95,5%;
  border: 1px solid #ccc; /* Add borders or other styling as needed */
  padding: 15px; /* Adjust the padding as needed */
}

span {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 2em;
}

.top-right {
  height: 430px;
  width: 96%;
  border: 1px solid #ccc; /* Add borders or other styling as needed */
  padding: 15px; /* Adjust the padding as needed */
  margin-right: 130px;
}

.country-name {
  padding-left: 10px;
}

.country-container {
  display: flex;
}
